apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 2.44.0
      timeInterval: "10s"
      queryTimeout: "60s"
      cacheLevel: 'High'
      incrementalQuerying: true
      incrementalQueryOverlapWindow: '10m'
    editable: true